html, body {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(to bottom, #5990E2, #07247F);
  display: flex;
  flex-direction: column;
  background-attachment: fixed; /* Mengunci latar belakang */
}

ul {
  list-style-type: none;
  margin: 40px 0 0; /* Adjust top margin to move the ul downwards */
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  padding-left: 150px;
  display: flex;
  align-items: center;
}

li {
  margin-right: 20px;
}

li.search-bar {
  margin-left: auto;
}

li.profile-icon {
  margin-left: 10px; /* Adjust spacing between search bar and profile icon */
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Kadwa', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

li a:hover {
  background-color: #111;
}

li.logo-kontes {
  display: flex;
  align-items: center;
}

.logo-kontes .logo {
  height: 30px; /* Adjust logo height */
  margin-right: 8px;
}

.search-bar input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 17px;
  border: none;
  border-radius: 4px;
  width: 250px; /* Adjust width of the search input */
}

.profile-icon img {
  width: 25px; /* Adjust size of the profile icon */
  height: 25px; /* Match height to maintain aspect ratio */
  border-radius: 50%; /* Optional: Round the corners if it's a circular icon */
}

.profile-icon1 img {
  width: 60px;
  height: 60px;
  position: relative;
  left: -100px; /* Geser 10px ke kiri, sesuaikan nilainya */
}


.image-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  position: relative;
  overflow: hidden;
}

.gallery-item {
  margin-right: 20px;
  cursor: pointer;
  overflow: hidden; /* Menyembunyikan bayangan yang berlebihan di dalam item galeri */
  border-radius: 25px; /* Menambahkan sudut bulat pada gallery item */
}

.gallery-image {
  max-width: 350px;
  max-height: 350px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* Efek bevel dengan bayangan di semua sisi */
}

.controls {
  text-align: center;
  margin-top: 10px;
}

.controls button {
  font-size: 18px;
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.controls button:hover {
  background-color: #e0e0e0;
}
